<article id="submission">
  <%= erb :"submissions/header", locals: { submission: submission, next_submission: next_submission } %>

  <div class="container">
    <%= erb :"submissions/alerts", locals: { submission: submission } %>
  </div>

  <%= erb :"submissions/iterations", locals: { submission: submission } %>

  <div class="container">
    <%= erb :"submissions/iteration", locals: { submission: submission } %>
  </div>
</article>