<% content_for :dashboard_content do %>
  <div class="container">
    <div class="placeholder placeholder-lg">
      <p class="lead">Under Construction</p>
      <p>We are still looking for solutions here. Any idea? Have a look to <a href="https://github.com/exercism/exercism.io/issues/1654">this issue</a>.</p>
    </div>
  </div>
<% end %>

<%= erb :"dashboard/dashboard", locals: { current_page: :index } %>