<article id="dashboard">
  <div class="page-header full-header dashboard-header">
    <div class="container">
      <h1 class="pull-left">Dashboard</h1>
      <ul class="nav underlined-tabs pull-right">
        <li><a href="#"><i class="fa fa-dashboard fa-lg"></i> Dashboard</a></li>
        <li class="active"><a href="#"><i class="fa fa-graduation-cap fa-lg"></i> Submissions</a></li>
        <li><a href="#"><i class="fa fa-comments-o fa-lg"></i> Nitpick</a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="container">

  </div>
</article>